<a href="https://colab.research.google.com/github/AminHmimou/DataMine/blob/main/Olympics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.3.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.3-py2.py3-none-any.whl size=317840625 sha256=e27e677f04a7518265d9918c5a56e777de574654a217b831f39bc55dbabed892
  Stored in directory: /root/.cache/pip/wheels/1b/3a/92/28b93e2fbfdbb07509ca4d6f50c5e407f48dce4ddbda69a4ab
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.3

In [ ]:
import pyspark

In [ ]:
import pandas as pd
pd.read_csv('/content/Medals.csv')

,Rank,TeamCountry,Gold,Silver,Bronze,Total,Rank by Total
0,1,United States of America,39,41,33,113,1
1,2,People's Republic of China,38,32,18,88,2
2,3,Japan,27,14,17,58,5
3,4,Great Britain,22,21,22,65,4
4,5,ROC,20,28,23,71,3
...,...,...,...,...,...,...,...
88,86,Ghana,0,0,1,1,77
89,86,Grenada,0,0,1,1,77
90,86,Kuwait,0,0,1,1,77
91,86,Republic of Moldova,0,0,1,1,77
92,86,Syrian Arab Republic,0,0,1,1,77

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark= SparkSession.builder.appName('Practice').getOrCreate()

In [ ]:
spark

In [ ]:
df=spark.read.csv('/content/Medals.csv')

In [ ]:
df.show()

+----+--------------------+----+------+------+-----+-------------+
| _c0|                 _c1| _c2|   _c3|   _c4|  _c5|          _c6|
+----+--------------------+----+------+------+-----+-------------+
|Rank|         TeamCountry|Gold|Silver|Bronze|Total|Rank by Total|
|   1|United States of ...|  39|    41|    33|  113|            1|
|   2|People's Republic...|  38|    32|    18|   88|            2|
|   3|               Japan|  27|    14|    17|   58|            5|
|   4|       Great Britain|  22|    21|    22|   65|            4|
|   5|                 ROC|  20|    28|    23|   71|            3|
|   6|           Australia|  17|     7|    22|   46|            6|
|   7|         Netherlands|  10|    12|    14|   36|            9|
|   8|              France|  10|    12|    11|   33|           10|
|   9|             Germany|  10|    11|    16|   37|            8|
|  10|               Italy|  10|    10|    20|   40|            7|
|  11|              Canada|   7|     6|    11|   24|           11|
|  12|              Brazil|   7|     6|     8|   21|           12|
|  13|         New Zealand|   7|     6|     7|   20|           13|
|  14|                Cuba|   7|     3|     5|   15|           18|
|  15|             Hungary|   6|     7|     7|   20|           13|
|  16|   Republic of Korea|   6|     4|    10|   20|           13|
|  17|              Poland|   4|     5|     5|   14|           19|
|  18|      Czech Republic|   4|     4|     3|   11|           23|
|  19|               Kenya|   4|     4|     2|   10|           25|
+----+--------------------+----+------+------+-----+-------------+
only showing top 20 rows

In [ ]:
df=spark.read.option('header','true').csv('/content/Medals.csv',inferSchema=True)

In [ ]:
type(df)

pyspark.sql.dataframe.DataFrame

In [ ]:
df.head(4)

[Row(Rank='1', TeamCountry='United States of America', Gold='39', Silver='41', Bronze='33', Total='113', Rank by Total='1'),
 Row(Rank='2', TeamCountry="People's Republic of China", Gold='38', Silver='32', Bronze='18', Total='88', Rank by Total='2'),
 Row(Rank='3', TeamCountry='Japan', Gold='27', Silver='14', Bronze='17', Total='58', Rank by Total='5'),
 Row(Rank='4', TeamCountry='Great Britain', Gold='22', Silver='21', Bronze='22', Total='65', Rank by Total='4')]

In [ ]:
df.printSchema()

root
 |-- Rank: integer (nullable = true)
 |-- TeamCountry: string (nullable = true)
 |-- Gold: integer (nullable = true)
 |-- Silver: integer (nullable = true)
 |-- Bronze: integer (nullable = true)
 |-- Total: integer (nullable = true)
 |-- Rank by Total: integer (nullable = true)

In [ ]:
spark1=SparkSession.builder.appName('dfspark').getOrCreate()

In [ ]:
spark1

In [ ]:
df.columns

['Rank', 'TeamCountry', 'Gold', 'Silver', 'Bronze', 'Total', 'Rank by Total']

In [ ]:
df.select(['Rank','Gold','Silver']).show()

+----+----+------+
|Rank|Gold|Silver|
+----+----+------+
|   1|  39|    41|
|   2|  38|    32|
|   3|  27|    14|
|   4|  22|    21|
|   5|  20|    28|
|   6|  17|     7|
|   7|  10|    12|
|   8|  10|    12|
|   9|  10|    11|
|  10|  10|    10|
|  11|   7|     6|
|  12|   7|     6|
|  13|   7|     6|
|  14|   7|     3|
|  15|   6|     7|
|  16|   6|     4|
|  17|   4|     5|
|  18|   4|     4|
|  19|   4|     4|
|  20|   4|     2|
+----+----+------+
only showing top 20 rows

In [ ]:
df.dtypes

[('Rank', 'int'),
 ('TeamCountry', 'string'),
 ('Gold', 'int'),
 ('Silver', 'int'),
 ('Bronze', 'int'),
 ('Total', 'int'),
 ('Rank by Total', 'int')]

In [ ]:
df.describe()

DataFrame[summary: string, Rank: string, TeamCountry: string, Gold: string, Silver: string, Bronze: string, Total: string, Rank by Total: string]

In [ ]:
df=df.withColumn('PlayerName',df['TeamCountry'])

In [ ]:
df.show()

+----+--------------------+----+------+------+-----+-------------+--------------------+
|Rank|         TeamCountry|Gold|Silver|Bronze|Total|Rank by Total|          PlayerName|
+----+--------------------+----+------+------+-----+-------------+--------------------+
|   1|United States of ...|  39|    41|    33|  113|            1|United States of ...|
|   2|People's Republic...|  38|    32|    18|   88|            2|People's Republic...|
|   3|               Japan|  27|    14|    17|   58|            5|               Japan|
|   4|       Great Britain|  22|    21|    22|   65|            4|       Great Britain|
|   5|                 ROC|  20|    28|    23|   71|            3|                 ROC|
|   6|           Australia|  17|     7|    22|   46|            6|           Australia|
|   7|         Netherlands|  10|    12|    14|   36|            9|         Netherlands|
|   8|              France|  10|    12|    11|   33|           10|              France|
|   9|             Germany|  10|    11|    16|   37|            8|             Germany|
|  10|               Italy|  10|    10|    20|   40|            7|               Italy|
|  11|              Canada|   7|     6|    11|   24|           11|              Canada|
|  12|              Brazil|   7|     6|     8|   21|           12|              Brazil|
|  13|         New Zealand|   7|     6|     7|   20|           13|         New Zealand|
|  14|                Cuba|   7|     3|     5|   15|           18|                Cuba|
|  15|             Hungary|   6|     7|     7|   20|           13|             Hungary|
|  16|   Republic of Korea|   6|     4|    10|   20|           13|   Republic of Korea|
|  17|              Poland|   4|     5|     5|   14|           19|              Poland|
|  18|      Czech Republic|   4|     4|     3|   11|           23|      Czech Republic|
|  19|               Kenya|   4|     4|     2|   10|           25|               Kenya|
|  20|              Norway|   4|     2|     2|    8|           29|              Norway|
+----+--------------------+----+------+------+-----+-------------+--------------------+
only showing top 20 rows

In [ ]:
df=df.drop('PlayerName')

In [ ]:
df.show()

+----+--------------------+----+------+------+-----+-------------+
|Rank|         TeamCountry|Gold|Silver|Bronze|Total|Rank by Total|
+----+--------------------+----+------+------+-----+-------------+
|   1|United States of ...|  39|    41|    33|  113|            1|
|   2|People's Republic...|  38|    32|    18|   88|            2|
|   3|               Japan|  27|    14|    17|   58|            5|
|   4|       Great Britain|  22|    21|    22|   65|            4|
|   5|                 ROC|  20|    28|    23|   71|            3|
|   6|           Australia|  17|     7|    22|   46|            6|
|   7|         Netherlands|  10|    12|    14|   36|            9|
|   8|              France|  10|    12|    11|   33|           10|
|   9|             Germany|  10|    11|    16|   37|            8|
|  10|               Italy|  10|    10|    20|   40|            7|
|  11|              Canada|   7|     6|    11|   24|           11|
|  12|              Brazil|   7|     6|     8|   21|           12|
|  13|         New Zealand|   7|     6|     7|   20|           13|
|  14|                Cuba|   7|     3|     5|   15|           18|
|  15|             Hungary|   6|     7|     7|   20|           13|
|  16|   Republic of Korea|   6|     4|    10|   20|           13|
|  17|              Poland|   4|     5|     5|   14|           19|
|  18|      Czech Republic|   4|     4|     3|   11|           23|
|  19|               Kenya|   4|     4|     2|   10|           25|
|  20|              Norway|   4|     2|     2|    8|           29|
+----+--------------------+----+------+------+-----+-------------+
only showing top 20 rows

In [ ]:
df=df.withColumnRenamed('TeamCountry','Country')

In [ ]:
df.show()

+----+--------------------+----+------+------+-----+-------------+
|Rank|             Country|Gold|Silver|Bronze|Total|Rank by Total|
+----+--------------------+----+------+------+-----+-------------+
|   1|United States of ...|  39|    41|    33|  113|            1|
|   2|People's Republic...|  38|    32|    18|   88|            2|
|   3|               Japan|  27|    14|    17|   58|            5|
|   4|       Great Britain|  22|    21|    22|   65|            4|
|   5|                 ROC|  20|    28|    23|   71|            3|
|   6|           Australia|  17|     7|    22|   46|            6|
|   7|         Netherlands|  10|    12|    14|   36|            9|
|   8|              France|  10|    12|    11|   33|           10|
|   9|             Germany|  10|    11|    16|   37|            8|
|  10|               Italy|  10|    10|    20|   40|            7|
|  11|              Canada|   7|     6|    11|   24|           11|
|  12|              Brazil|   7|     6|     8|   21|           12|
|  13|         New Zealand|   7|     6|     7|   20|           13|
|  14|                Cuba|   7|     3|     5|   15|           18|
|  15|             Hungary|   6|     7|     7|   20|           13|
|  16|   Republic of Korea|   6|     4|    10|   20|           13|
|  17|              Poland|   4|     5|     5|   14|           19|
|  18|      Czech Republic|   4|     4|     3|   11|           23|
|  19|               Kenya|   4|     4|     2|   10|           25|
|  20|              Norway|   4|     2|     2|    8|           29|
+----+--------------------+----+------+------+-----+-------------+
only showing top 20 rows

In [ ]:
#remove all raw with null values
df.na.drop()
#remove all raw with null values only if all values are null
df.na.drop(how='all')
#remove all raw with null values wherever value is null
df.na.drop(how='any')
#specifie a column where to remove all raw with null value
df.na.drop(hpw='any',subset=['Country'])
#if in a raw there at least 2 Non nulle value keep the raw
df.na.drop(how='any', thresh=2)
#fill null value
df.na.fill('value','a specifique colunm')

NameError: name 'null' is not defined

In [ ]:
df.filter("Total>=50" and "Gold>=10" and "Silver>=20").select(['Country','Gold','Silver','Total']).show()

+--------------------+----+------+-----+
|             Country|Gold|Silver|Total|
+--------------------+----+------+-----+
|United States of ...|  39|    41|  113|
|People's Republic...|  38|    32|   88|
|       Great Britain|  22|    21|   65|
|                 ROC|  20|    28|   71|
+--------------------+----+------+-----+

In [ ]:
 # groupby and aggregation operations (sum, min max...)
 df.groupBy('Country').sum('Gold').show()

+--------------------+---------+
|             Country|sum(Gold)|
+--------------------+---------+
|       Côte d'Ivoire|        0|
|Islamic Republic ...|        3|
|      Chinese Taipei|        2|
|              Sweden|        3|
|   Republic of Korea|        6|
|         Philippines|        1|
|            Malaysia|        0|
|                Fiji|        1|
|              Turkey|        2|
|             Germany|       10|
|              Jordan|        0|
|              France|       10|
|              Greece|        2|
|              Kosovo|        2|
|            Slovakia|        1|
|    Hong Kong, China|        1|
|           Argentina|        0|
|             Belgium|        3|
|       Great Britain|       22|
|          San Marino|        0|
+--------------------+---------+
only showing top 20 rows

In [ ]:
#aggregate function
df.agg({'Gold':'sum'}).show()

NameError: name 'df' is not defined

In [ ]:
from pyspark.sql.types import *

In [ ]:
array=[('hhhhh',[1,2]),('aaaa',[3,4]),('bbbb',[5,6])]
arraySch= StructType([StructField('name',StringType()),StructField('numbres',ArrayType(IntegerType()))])


table=spark.createDataFrame(array,arraySch)
table.show()

+-----+-------+
| name|numbres|
+-----+-------+
|hhhhh| [1, 2]|
| aaaa| [3, 4]|
| bbbb| [5, 6]|
+-----+-------+

In [ ]:
table.printSchema()

root
 |-- name: string (nullable = true)
 |-- numbres: array (nullable = true)
 |    |-- element: integer (containsNull = true)

In [ ]:
table=table.withColumn('1st',table['numbres'][0])

In [ ]:
table.show()

+-----+-------+---+
| name|numbres|1st|
+-----+-------+---+
|hhhhh| [1, 2]|  1|
| aaaa| [3, 4]|  3|
| bbbb| [5, 6]|  5|
+-----+-------+---+

In [ ]:
from pyspark.sql.functions import col,array,explode,lit,split,array_contains

In [ ]:
table=table.withColumn('2nd',col('numbres')[1])
table.show()

+-----+-------+---+---+
| name|numbres|1st|2nd|
+-----+-------+---+---+
|hhhhh| [1, 2]|  1|  2|
| aaaa| [3, 4]|  3|  4|
| bbbb| [5, 6]|  5|  6|
+-----+-------+---+---+

In [ ]:
table=table.withColumn('combo',array(col('1st'),col('2nd')))
table.show()

+-----+-------+---+---+------+
| name|numbres|1st|2nd| combo|
+-----+-------+---+---+------+
|hhhhh| [1, 2]|  1|  2|[1, 2]|
| aaaa| [3, 4]|  3|  4|[3, 4]|
| bbbb| [5, 6]|  5|  6|[5, 6]|
+-----+-------+---+---+------+

In [ ]:
table=table.withColumn('number',explode(col('numbres')))
table.show()

+-----+-------+---+---+------+------+
| name|numbres|1st|2nd| combo|number|
+-----+-------+---+---+------+------+
|hhhhh| [1, 2]|  1|  2|[1, 2]|     1|
|hhhhh| [1, 2]|  1|  2|[1, 2]|     2|
|hhhhh| [1, 2]|  1|  2|[1, 2]|     1|
|hhhhh| [1, 2]|  1|  2|[1, 2]|     2|
|hhhhh| [1, 2]|  1|  2|[1, 2]|     1|
|hhhhh| [1, 2]|  1|  2|[1, 2]|     2|
|hhhhh| [1, 2]|  1|  2|[1, 2]|     1|
|hhhhh| [1, 2]|  1|  2|[1, 2]|     2|
| aaaa| [3, 4]|  3|  4|[3, 4]|     3|
| aaaa| [3, 4]|  3|  4|[3, 4]|     4|
| aaaa| [3, 4]|  3|  4|[3, 4]|     3|
| aaaa| [3, 4]|  3|  4|[3, 4]|     4|
| aaaa| [3, 4]|  3|  4|[3, 4]|     3|
| aaaa| [3, 4]|  3|  4|[3, 4]|     4|
| aaaa| [3, 4]|  3|  4|[3, 4]|     3|
| aaaa| [3, 4]|  3|  4|[3, 4]|     4|
| bbbb| [5, 6]|  5|  6|[5, 6]|     5|
| bbbb| [5, 6]|  5|  6|[5, 6]|     6|
| bbbb| [5, 6]|  5|  6|[5, 6]|     5|
| bbbb| [5, 6]|  5|  6|[5, 6]|     6|
+-----+-------+---+---+------+------+
only showing top 20 rows

In [ ]:
table=table.withColumn('hsjsa',lit("10,20"))
table.show()

+-----+-------+---+---+------+------+-----+
| name|numbres|1st|2nd| combo|number|hsjsa|
+-----+-------+---+---+------+------+-----+
|hhhhh| [1, 2]|  1|  2|[1, 2]|     1|10,20|
|hhhhh| [1, 2]|  1|  2|[1, 2]|     2|10,20|
|hhhhh| [1, 2]|  1|  2|[1, 2]|     1|10,20|
|hhhhh| [1, 2]|  1|  2|[1, 2]|     2|10,20|
|hhhhh| [1, 2]|  1|  2|[1, 2]|     1|10,20|
|hhhhh| [1, 2]|  1|  2|[1, 2]|     2|10,20|
|hhhhh| [1, 2]|  1|  2|[1, 2]|     1|10,20|
|hhhhh| [1, 2]|  1|  2|[1, 2]|     2|10,20|
| aaaa| [3, 4]|  3|  4|[3, 4]|     3|10,20|
| aaaa| [3, 4]|  3|  4|[3, 4]|     4|10,20|
| aaaa| [3, 4]|  3|  4|[3, 4]|     3|10,20|
| aaaa| [3, 4]|  3|  4|[3, 4]|     4|10,20|
| aaaa| [3, 4]|  3|  4|[3, 4]|     3|10,20|
| aaaa| [3, 4]|  3|  4|[3, 4]|     4|10,20|
| aaaa| [3, 4]|  3|  4|[3, 4]|     3|10,20|
| aaaa| [3, 4]|  3|  4|[3, 4]|     4|10,20|
| bbbb| [5, 6]|  5|  6|[5, 6]|     5|10,20|
| bbbb| [5, 6]|  5|  6|[5, 6]|     6|10,20|
| bbbb| [5, 6]|  5|  6|[5, 6]|     5|10,20|
| bbbb| [5, 6]|  5|  6|[5, 6]|     6|10,20|
+-----+-------+---+---+------+------+-----+
only showing top 20 rows

In [ ]:
table=table.withColumn('hs',split('hsjsa',',')).show()

+-----+-------+---+---+------+------+-----+--------+
| name|numbres|1st|2nd| combo|number|hsjsa|      hs|
+-----+-------+---+---+------+------+-----+--------+
|hhhhh| [1, 2]|  1|  2|[1, 2]|     1|10,20|[10, 20]|
|hhhhh| [1, 2]|  1|  2|[1, 2]|     2|10,20|[10, 20]|
|hhhhh| [1, 2]|  1|  2|[1, 2]|     1|10,20|[10, 20]|
|hhhhh| [1, 2]|  1|  2|[1, 2]|     2|10,20|[10, 20]|
|hhhhh| [1, 2]|  1|  2|[1, 2]|     1|10,20|[10, 20]|
|hhhhh| [1, 2]|  1|  2|[1, 2]|     2|10,20|[10, 20]|
|hhhhh| [1, 2]|  1|  2|[1, 2]|     1|10,20|[10, 20]|
|hhhhh| [1, 2]|  1|  2|[1, 2]|     2|10,20|[10, 20]|
| aaaa| [3, 4]|  3|  4|[3, 4]|     3|10,20|[10, 20]|
| aaaa| [3, 4]|  3|  4|[3, 4]|     4|10,20|[10, 20]|
| aaaa| [3, 4]|  3|  4|[3, 4]|     3|10,20|[10, 20]|
| aaaa| [3, 4]|  3|  4|[3, 4]|     4|10,20|[10, 20]|
| aaaa| [3, 4]|  3|  4|[3, 4]|     3|10,20|[10, 20]|
| aaaa| [3, 4]|  3|  4|[3, 4]|     4|10,20|[10, 20]|
| aaaa| [3, 4]|  3|  4|[3, 4]|     3|10,20|[10, 20]|
| aaaa| [3, 4]|  3|  4|[3, 4]|     4|10,20|[10, 20]|
| bbbb| [5, 6]|  5|  6|[5, 6]|     5|10,20|[10, 20]|
| bbbb| [5, 6]|  5|  6|[5, 6]|     6|10,20|[10, 20]|
| bbbb| [5, 6]|  5|  6|[5, 6]|     5|10,20|[10, 20]|
| bbbb| [5, 6]|  5|  6|[5, 6]|     6|10,20|[10, 20]|
+-----+-------+---+---+------+------+-----+--------+
only showing top 20 rows

In [ ]:
table=table.withColumn('ttt', array_contains(col('combo'),'1'))

AttributeError: 'NoneType' object has no attribute 'withColumn'

In [ ]:
prop= [('amine',{'hair':'black', 'eyes':'bown'}),('loubna',{'hair':'brown','eyes':'brown'})]

In [ ]:
from pyspark.sql.types import *

In [ ]:
propsch= StructType([StructField('name',StringType()),StructField('properties',MapType(StringType(),StringType()))])

In [ ]:
properties= spark.createDataFrame(prop,propsch)

In [ ]:
properties.show(truncate=False)

AttributeError: 'NoneType' object has no attribute 'show'

In [ ]:
properties.show()

AttributeError: 'NoneType' object has no attribute 'show'

In [ ]:
pp=spark.createDataFrame(prop,propsch)

In [ ]:
from pyspark.sql.functions import map_keys, map_values, explode

In [ ]:
pp.show()

+------+--------------------+
|  name|          properties|
+------+--------------------+
| amine|{eyes -> bown, ha...|
|loubna|{eyes -> brown, h...|
+------+--------------------+

In [ ]:
pp.select('name',explode(pp.properties)).show()

+------+----+-----+
|  name| key|value|
+------+----+-----+
| amine|eyes| bown|
| amine|hair|black|
|loubna|eyes|brown|
|loubna|hair|brown|
+------+----+-----+

In [ ]:
pp.show()

+------+--------------------+
|  name|          properties|
+------+--------------------+
| amine|{eyes -> bown, ha...|
|loubna|{eyes -> brown, h...|
+------+--------------------+

In [ ]:
pp=pp.withColumn('keys',map_keys(pp.properties))

In [ ]:
pp.show()

+------+--------------------+------------+
|  name|          properties|        keys|
+------+--------------------+------------+
| amine|{eyes -> bown, ha...|[eyes, hair]|
|loubna|{eyes -> brown, h...|[eyes, hair]|
+------+--------------------+------------+

In [ ]:
pp=pp.withColumn('values',map_values(pp.properties))

In [ ]:
pp.show()

+------+--------------------+------------+--------------+
|  name|          properties|        keys|        values|
+------+--------------------+------------+--------------+
| amine|{eyes -> bown, ha...|[eyes, hair]| [bown, black]|
|loubna|{eyes -> brown, h...|[eyes, hair]|[brown, brown]|
+------+--------------------+------------+--------------+

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.3.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.3-py2.py3-none-any.whl size=317840625 sha256=f68b9c8f4dad5aa8ddf61a2bf5251706c13fbe040313c3336622daa915f44ba9
  Stored in directory: /root/.cache/pip/wheels/1b/3a/92/28b93e2fbfdbb07509ca4d6f50c5e407f48dce4ddbda69a4ab
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.3

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('prac').getOrCreate()

In [ ]:
from pyspark.sql import Row

In [ ]:
person = Row('name','age')

In [ ]:
person1= person('amine','30')
person2=person('aness','24')

In [ ]:
ppl=spark.createDataFrame([person1,person2])
ppl.show()

+-----+---+
| name|age|
+-----+---+
|amine| 30|
|aness| 24|
+-----+---+

In [ ]:
ppl.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)

In [ ]:
from pyspark.sql.types import *
data =[('amine',25,'M'),('amina',25,'F'),('amine',25,' ')]
sch= StructType([StructField('name',StringType()),StructField(('age',IntegerType())),StructField('gender',StringType())])

df = spark.createDataFrame(data,sch)

df.show()

TypeError: StructField.__init__() missing 1 required positional argument: 'dataType'

In [ ]:
from pyspark.sql.types import *

data = [('amine','25','M'), ('amina','25','F'), ('amine','25',' ')]

sch = StructType([
    StructField('name', StringType()),
    StructField('age', StringType()),
    StructField('gender', StringType())
])

df = spark.createDataFrame(data, sch)
df.show()

+-----+---+------+
| name|age|gender|
+-----+---+------+
|amine| 25|     M|
|amina| 25|     F|
|amine| 25|      |
+-----+---+------+

In [ ]:
from pyspark.sql.functions import when
df1=df.select(df.name,df.age,df.gender,when(df.gender=='M','Male').when(df.gender=='F','Female').otherwise('unknown').alias('Gender'))
df1.show()

+-----+---+------+-------+
| name|age|gender| Gender|
+-----+---+------+-------+
|amine| 25|     M|   Male|
|amina| 25|     F| Female|
|amine| 25|      |unknown|
+-----+---+------+-------+

In [ ]:
df1.sort(df1.name.desc()).show()

+-----+---+------+-------+
| name|age|gender| Gender|
+-----+---+------+-------+
|amine| 25|      |unknown|
|amine| 25|     M|   Male|
|amina| 25|     F| Female|
+-----+---+------+-------+

In [ ]:
df1=df1.drop('gender')
df1=df1.select(df1.name.alias('nom',df1.age,df1.Gender.alias('genre')))
df1.show()

AttributeError: 'DataFrame' object has no attribute 'Gender'

In [ ]:
df1.show()

+-----+---+
| name|age|
+-----+---+
|amine| 25|
|amina| 25|
|amine| 25|
+-----+---+

In [ ]:
df1=df1.select(df1.name.alias('nom'),df1.age)
df1.show()

+-----+---+
|  nom|age|
+-----+---+
|amine| 25|
|amina| 25|
|amine| 25|
+-----+---+

In [ ]:
df1.distinct().show()

+-----+---+
|  nom|age|
+-----+---+
|amine| 25|
|amina| 25|
+-----+---+

In [ ]:
df1.dropDuplicates().show()

+-----+---+
|  nom|age|
+-----+---+
|amine| 25|
|amina| 25|
+-----+---+

In [ ]:
df1.dropDuplicates(['age']).show()

+-----+---+
|  nom|age|
+-----+---+
|amine| 25|
+-----+---+

In [ ]:
from pyspark import SparkConf, SparkContext

In [ ]:
conf = SparkConf().setAppName('beging').setMaster('Amine')

In [ ]:
sc = SparkContext(conf)

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=prac, master=local[*]) created by getOrCreate at <ipython-input-4-49daaae2460e>:1